<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>



    <!--Legal Customer Servlet-->
    <servlet>
        <servlet-name>ShowLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>show</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>EditLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>edit</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>IndexLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>show</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>CreateLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>create</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>UpdateLegalCustomer</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>update</param-value>
        </init-param>
    </servlet>


    <!--Legal Customer Servlet-->
    <servlet>
        <servlet-name>IndexRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>index</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ShowRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>show</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>EditRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>edit</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>NewRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>new</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>CreateRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>create</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>UpdateRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>update</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>DeleteRealCustomer</servlet-name>
        <servlet-class>presentation.RealCustomerServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>delete</param-value>
        </init-param>
    </servlet>



    <!--Legal customer servlet mapping-->
    <servlet-mapping>
        <servlet-name>ShowLegalCustomer</servlet-name>
        <url-pattern>/LegalCustomer/show</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexLegalCustomer</servlet-name>
        <url-pattern>/LegalCustomer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditLegalCustomer</servlet-name>
        <url-pattern>/LegalCustomer/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateLegalCustomer</servlet-name>
        <url-pattern>/LegalCustomer/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateLegalCustomer</servlet-name>
        <url-pattern>/LegalCustomer/update</url-pattern>
    </servlet-mapping>

    <!--Real customer servlet mapping -->
    <servlet-mapping>
        <servlet-name>ShowRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/show</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexRealCustomer</servlet-name>
        <url-pattern>/RealCustomer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NewRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/new</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteRealCustomer</servlet-name>
        <url-pattern>/RealCustomer/delete</url-pattern>
    </servlet-mapping>

</web-app>
